<div class="card">
    <div class="card-content">
        <div class="card-body">
            <div class="media">
                <div class="media-body text-left w-100">
                    <h3 class="{{value_color}}">{{value}}</h3>
                    <span>{{title}}</span>
                </div>
                <div class="media-right media-middle">
                    <i class="{{icon}} {{icon_color}} font-large-2 float-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>