{% extends '_base.html' %}
{% load static %}
{% block page_css %}
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/datatable/datatables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/extensions/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/datatable/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block contents %}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Create Member of Staff</h5>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form class="form-horizontal" novalidate id="memeber_staff">
                                    <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput1">First Name<span style="font-size: small;" class="danger">*</span></label>
                                                <input type="text" name="fname" id="fname" class="form-control" placeholder="First Name" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput2">Last Name<span style="font-size: small;" class="danger">*</span></label>
                                                <input type="text" id="lname" class="form-control" placeholder="Last Name" name="lname" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput1">Cell Number</label>
                                                <input type="text" id="cell" class="form-control phone-inputmask" placeholder="Cell Number Starting With 260" name="cell">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput2">Email<span style="font-size: small;" class="danger">*</span></label>
                                                <input type="text" id="email" class="form-control email-inputmask" placeholder="Email" name="email" required onkeyup="checkEmail()"/>
                                                <span style="display:none" class="danger" id="email_error">Email already in use</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput1">Marital Status<span style="font-size: small;" class="danger">*</span></label>
                                                <select class="form-control" name="marital_status" id="marital_status" required>
                                                    <option value="">Select Option</option>
                                                    <option value="Married">Married</option>
                                                    <option value="Single">Single</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput2">Username<span style="font-size: small;" class="danger">*</span> <span style="font-size: small;">(Minimum 5 characters)</span></label>
                                                <input type="text" id="username" class="form-control" placeholder="Username" name="username" required onkeyup="checkUsername()"/>
                                                <span style="display:none" class="danger" id="username_error">Username already taken</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="ft-shield"></i> Account Info</h4>
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput1">User Role<span style="font-size: small;" class="danger">*</span></label>
                                                <select class="form-control" name="role" id="role" required>
                                                    <option value="">Select Option</option>
                                                    {% for role in user_roles %}
                                                    <option value="{{role.0}}">{{role.0}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" id="makeBTN" class="btn btn-success"><i id="BTNIcon"
                                                class="fa fa-save"></i> Save </button>
                                        <button type="reset" class="btn btn-danger">Reset <i
                                                class="fa fa-refresh position-right"></i></button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    <script>
        //Check Email
        function checkEmail() {
            let email = $("#email").val();
            filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            const email_error = document.getElementById('email_error')
            if (filter.test(email)) {
                $("#email").removeClass("border-danger danger").addClass("border-primary success");
                var payload = { email: email };
                $.ajax({
                    url: "{% url 'check_email' %}",
                    data: payload,
                    type: "POST",
                    dataType: "json",
                    headers: {
                        content_type: 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    success: function (data) {
                        if (data) {
                            var status = data.status
                            if (status === 200) {
                                email_error.style.display = "none";
                                $("#email").removeClass("border-danger danger").addClass("border-primary success");
                            }
                            else {
                                email_error.style.display = "block";
                                $("#email").removeClass("border-primary success").addClass("border-danger danger");
                            }
                        }
                    },
                    error: function () {
                        console.log('Error')
                    }
                });
            }
            else {
                $("#email").removeClass("border-primary success").addClass("border-danger danger");
            }
        }

        //Check Username
        function checkUsername() {
            let username = $("#username").val();
            const username_error = document.getElementById('username_error')
            if (username.length >= 5) {
                $("#username").removeClass("border-danger danger").addClass("border-primary success");
                var payload = { username: username };
                $.ajax({
                    url: "{% url 'check_username' %}",
                    data: payload,
                    type: "POST",
                    dataType: "json",
                    headers: {
                        content_type: 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    success: function (data) {
                        if (data) {
                            var status = data.status
                            if (status === 200) {
                                username_error.style.display = "none";
                                $("#username").removeClass("border-danger danger").addClass("border-primary success");
                            }
                            else {
                                username_error.style.display = "block";
                                $("#username").removeClass("border-primary success").addClass("border-danger danger");
                            }
                        }
                    },
                    error: function () {
                        console.log('Error')
                    }
                });
            }
            else {
                $("#username").removeClass("border-primary success").addClass("border-danger danger");
            }
        }

        //Submit Form
        $('#memeber_staff').submit(function (e) {
            e.preventDefault();
            // Disable Submit Button
            document.getElementById("makeBTN").disabled = true;
            // Switch button icon to loading Icon
            $("#BTNIcon").removeClass("fa-save").addClass("fa-spinner fa-pulse fa-fw");
            // Get input value
            var form = $(this);
            // Make payload
            $.ajax({
                url: "{% url 'admin_make_staff' %}",
                data: form.serialize(),
                type: "POST",
                dataType: "json",
                headers: {
                    content_type: 'application/json',
                    'X-CSRFToken': csrftoken
                },
                success: function (data) {
                    if (data) {
                        var status = data.status
                        var message = data.msg
                        if (status === 201) {
                            toastr.success(message, 'Success', { "closeButton": true, "showMethod": "slideDown", "hideMethod": "fadeOut", timeOut: 2000 });
                            $("#BTNIcon").removeClass("fa-spinner fa-pulse fa-fw").addClass("fa-save");
                            document.getElementById("makeBTN").disabled = false;
                            setTimeout(function () {
                                window.location.href = "{% url 'admin_make_staff' %}";
                            }, 2300);

                        }
                        else {
                            toastr.warning('Account Creation Failed. Try Again', 'Warning', { "closeButton": true, "showMethod": "slideDown", "hideMethod": "fadeOut", timeOut: 2000 });
                            $("#BTNIcon").removeClass("fa-spinner fa-pulse fa-fw").addClass("fa-save");
                            document.getElementById("makeBTN").disabled = false;
                        }
                    }
                },
                error: function () {
                    toastr.error('Internal Server Error!', 'Error', { "closeButton": true, "showMethod": "slideDown", "hideMethod": "fadeOut", timeOut: 2000 });
                    $("#BTNIcon").removeClass("fa-spinner fa-pulse fa-fw").addClass("fa-save");
                    document.getElementById("makeBTN").disabled = false;
                }
            });
        })

    </script>
{% endblock %}