{% extends '_base.html' %}
{% load static %}
{% block page_css %}
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/datatable/datatables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/extensions/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/datatable/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block contents %}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Create Member of Staff</h5>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form class="form-horizontal" novalidate id="make_department">
                                    <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput1">First Name</label>
                                                <input type="text" id="projectinput1" class="form-control" placeholder="First Name" name="fname">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput2">Last Name</label>
                                                <input type="text" id="projectinput2" class="form-control" placeholder="Last Name" name="lname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput1">Cell Number</label>
                                                <input type="text" id="projectinput1" class="form-control phone-inputmask" placeholder="Cell Number Starting With 260" name="fname">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput2">Email</label>
                                                <input type="text" id="projectinput2" class="form-control email-inputmask" placeholder="Last Name" name="lname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput1">Marital Status</label>
                                                <select class="form-control" id="basicSelect">
                                                    <option>Select Option</option>
                                                    <option>Married</option>
                                                    <option>Single</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput2">Username</label>
                                                <input type="text" id="projectinput2" class="form-control email-inputmask" placeholder="Username" name="lname">
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="ft-shield"></i> Account Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput1">Department</label>
                                                <select class="form-control" id="basicSelect">
                                                    <option>Select Option</option>
                                                    {% for department in departments %}
                                                        <option value="{{department.public_key}}">{{department.department}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput1">User Role</label>
                                                <select class="form-control" id="basicSelect">
                                                    <option>Select Option</option>
                                                    <option value="System Admin">System Admin</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" id="makeBTN" class="btn btn-success"><i id="BTNIcon"
                                                class="fa fa-save"></i> Save </button>
                                        <button type="reset" class="btn btn-danger">Reset <i
                                                class="fa fa-refresh position-right"></i></button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}

{% endblock %}