{% extends '_base.html' %}
{% load static %}
{% load slippers %}
{% block contents %}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12">
                        {% small_Card icon="icon-globe" icon_color="warning" value_color="warning" title="License Expires" value="31.12.2023" %}
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                        {% small_Card icon="icon-user-follow" icon_color="danger" value_color="danger" title="Deactivated Accounts" value="12" %}
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                        {% small_Card icon="icon-social-dropbox" icon_color="primary" value_color="primary" title="Deactivated Accounts" value="12" %}
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                        {% small_Card icon="icon-layers" icon_color="success" value_color="success" title="Deactivated Accounts" value="12" %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}