<div class="main-menu menu-fixed menu-light menu-accordion" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active nav-item">
                <a href="{% url 'admin_home' %}"><i class="ft-home"></i>
                    <span class="menu-title" data-i18n="">Dashboard</span>
                </a>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-users"></i><span class="menu-title"
                        data-i18n="">Users</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="dashboard-ecommerce.html">Create</a>
                    </li>
                    <li class=""><a class="menu-item" href="dashboard-analytics.html">View</a>
                    </li>
                </ul>
            </li>


            <li class=" navigation-header">
                <span>Others</span><i class=" ft-minus" data-toggle="tooltip" data-placement="right"
                    data-original-title="Others"></i>
            </li>
            <li class=" nav-item"><a href="changelog.html"><i class="ft-file"></i><span class="menu-title"
                        data-i18n="">Changelog</span></a>
            </li>
            <li class="disabled nav-item"><a href="#"><i class="ft-slash"></i><span class="menu-title"
                        data-i18n="">Disabled Menu</span></a>
            </li>
            <li class=" nav-item"><a href="http://wordpressbusiness.top/"><i class="ft-life-buoy"></i><span
                        class="menu-title" data-i18n="">Raise Support</span></a>
            </li>
            <li class=" nav-item">
                <a href="http://wordpressbusiness.top/admin02/documentation/index.html"><i class="ft-folder"></i>
                    <span class="menu-title" data-i18n="">Documentation</span>
                </a>
            </li>

            <li class=" nav-item">
                <a href="{% url 'admin_settings' %}"><i class="ft-settings"></i>
                    <span class="menu-title" data-i18n="">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</div>