{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Login | Chikolo</title>
    <link rel="apple-touch-icon" href="{% static 'images/ico/apple-icon-120.png' %}">
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/forms/icheck/icheck.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/forms/icheck/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/login-register.css' %}">

</head>

<body class="vertical-layout vertical-menu 1-column bg-lighten-2 menu-expanded blank-page blank-page" data-open="click"
    data-menu="vertical-menu" data-col="1-column">
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row"></div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <div class="p-1">
                                            <img src="{% static 'images/logo/stack-logo-dark.png' %}"
                                                alt="branding logo">
                                        </div>
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>Code sent to your account email</span>
                                    </h6>
                                    <div class="alert alert-icon-left alert-info alert-dismissible mb-2" role="alert" id="notify" style="display: none;">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong id="heading"></strong> <span id="msg"></span>
                                    </div>
                                </div>
                                <div class="card-content">

                                    <div class="card-body pt-0">
                                        <form class="form-horizontal" id="final_login" novalidate>
                                            <fieldset class="form-group floating-label-form-group">
                                                <label for="user-name">Code</label>
                                                <input type="text" class="form-control" id="auth_code"
                                                    placeholder="Code">
                                            </fieldset>
                                            <input type="text" value="{{remember_me}}" readonly hidden id="remember-me">
                                            <input type="text" value="{{next_url}}" readonly hidden id="next">
                                            <button type="submit" id="proceed" class="btn btn-outline-primary btn-block"><i
                                                    class="ft-unlock"></i> Proceed</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="{% static 'vendors/js/vendors.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/js/forms/icheck/icheck.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/core/app-menu.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/core/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/scripts/forms/form-login-register.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/js/forms/validation/jqBootstrapValidation.js' %}" type="text/javascript"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'logic/routes.js' %}"></script>
    <script src="{% static 'logic/auth/login.js' %}" type="text/javascript"></script>
</body>

</html>